.mainBody{
    height:100vh;
    width:100vw;

    .header{
        
        height:100%;
        width:100%;
        .headerImage{
            width: 100%;
            height: 100%;
            overflow: hidden;
            
        }
        
        .backgroundImage{
            background-image: url('./images/coming-soon.jpg');
            background-repeat: none;
        }
    }
    .personalInfo{
        
        width:25%;
        margin-left: 5%;
        .name{
            margin-top: 30%;
            
        }
        .designation,.addressInfo,.mailInfo,.contactInfo{
            
        }
        
    }
}